html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width")
		title CV German Cabarcas
		link(rel='stylesheet' href='/styles-min.css')
	body
		div.me
			h1 Luis German Cabarcas Consuegra
			h2 Comunicador Social y Periodista
			a(mailto:cmdr.chili@gmail.com)
		div.studies
			h3 Estudios
			p Comunicación Social y Periodismo, Universidad del Norte. Barranquilla. 2011. 
			p Bachiller Académico. Colegio Centro Social La Presentación. Yopal (Casanare) 2003.
			h3 Experiencia Laboral
			p Profesional universitario de la Oficina asesora de comunicaciones del Instituto distrital de la participación y acción comunal (IDPAC). Julio 3 de 2014 - Diciembre 31 de 2014
			p Realizador del programa “Soundtrack”, Uninorte F.M. Estéreo, Universidad del Norte, Febrero de 2012 - Septiembre 2014
			p Asistente de programación para Uninorte F.M. Estéreo, Universidad del Norte, desde Junio 24 de 2011 - Junio 30 de 2013.
			p Reportero para Noticias Culturales. Uninorte F.M. Estéreo, Universidad del Norte, Septiembre 2010 hasta el 30 de Junio de 2013.
			p Asistente de investigación, proyecto: “TIC’s y ciberperiodismo en las facultades de Comunicación Social en Colombia”. Universidad del Norte. Junio 2008 – Agosto 2009
			p Editor y Guionista. MASS MEDIA Frames and Sounds. Febrero - Diciembre 2004
		div.skills
			Software
			Software de edición de audio/video no-lineal, Adobe Premiere Pro, Kdenlive, Avid, Adobe Audition.
			Software de edición de gráficos Photoshop, ,Illustrator, InDesign, Inskcape y GNU Image Manipulation Program (GIMP).
			HTML, CSS & Javascript
		div.updating
			h3 Actualización Profesional
			p I Festival Nacional de Reportajes Comunitarios Hotel Nutibara. Medellín, Colombia Septiembre 16-18 de 2004.
			p II Simposio las Sociedades Ante el Reto Digital. Universidad del Norte. Barranquilla, Colombia Marzo 18-19 de 2009.