html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width")
		title CV German Cabarcas
		link(rel='stylesheet' href='styles-min.css')
	body
		div.me
			h1 Luis German Cabarcas Consuegra
			h2 Comunicador Social y Periodista
			a.mail(href='mailto:cmdr.chili@gmail.com') e-mail!
			img.avatar(href='avatar.jpg')
		div.studies
			h3 Estudios
			p Comunicación Social y Periodismo, Universidad del Norte. Barranquilla. 2011. 
			p Bachiller Académico. Colegio Centro Social La Presentación. Yopal (Casanare) 2003.
		div.experience
			h3 Experiencia Laboral
			p Profesional universitario, Oficina asesora de comunicaciones del Instituto distrital de la participación y acción comunal (IDPAC). Julio 3 de 2014 - Diciembre 31 de 2014
			p Realizador del programa “Soundtrack”, Uninorte F.M. Estéreo, Universidad del Norte, Febrero de 2012 - Septiembre 2014
			p Asistente de programación para Uninorte F.M. Estéreo, Universidad del Norte, Junio 24 de 2011 - Junio 30 de 2013.
			p Reportero para Noticias Culturales. Uninorte F.M. Estéreo, Universidad del Norte, Septiembre 2010 - 31 de Mayo de 2011.
			p Asistente de investigación, proyecto: “TIC’s y ciberperiodismo en las facultades de Comunicación Social en Colombia”. Universidad del Norte. Junio 2008 – Agosto 2009
			p Editor y Guionista. MASS MEDIA Frames and Sounds. Febrero - Diciembre 2004
		div.skills
			h3 Habilidades
			p Aprender es lo más parecido a un talento que tengo. También es una de las cosas que más disfruto de la vida.
			p Software, el software es una herramienta más, me gusta crear cosas y eso las requiere en principio. Una lista que en lo personal encuentro más bien aburrida se puede ver <a href='software.html'>aquí.</a> Lo importante es que es sólo una extensión de lo mencionado en el primer punto.
			p Capacidad inagotable para la digresión.
			p Sentido del humor.
			p La web es importante y me interesa //guiño guiño.
		div.updating
			h3 Actualización Profesional
			p I Festival Nacional de Reportajes Comunitarios Hotel Nutibara. Medellín, Colombia Septiembre 16-18 de 2004.
			p II Simposio las Sociedades Ante el Reto Digital. Universidad del Norte. Barranquilla, Colombia Marzo 18-19 de 2009.