@import url(http://fonts.googleapis.com/css?family=Nunito:400,700,300)
body
	font-family 'Nunito'
	font-weight 300
	font-size 16px
	display flex
	max-width 44rem
	flex-flow column
	margin 0 auto
a
	text-decoration none
	color inherit
h1
h2
h3
	font-weight 300

.me
	margin auto
	padding 1rem 0 2rem
	h1
	h2
		margin 0
		padding-bottom 0rem
	a
		text-decoration none
		color black
		
.studies
.skills
.updating
.experience
.video
.audio
.image-edit
	padding 1rem 0 2rem
	margin 0 auto
	h3
		font-weight 400
		padding-left 2rem
	h3
	p
		margin 0px
		padding-bottom 0.5rem
		
.video
	background #a3c81c
.image-edit
	background #631a8b
.audio
	background #186184
	
.video
.image-edit
.audio
	color white
	margin 1rem
	p
		font-size 0.9rem
	p
	h2
		padding 0.5rem 2rem
		font-weight 300
		letter-spacing 0.05rem
		margin 0
	small
		color #a3c81c